@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');


:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    background-color: var(--background);

    width: 100vw;
    height: 100vh;
    
}

header {
    display: flex;
    align-items: center;

    height: 10%;

}

header svg {
    width: 25%;

}

#main-container {
    background-color: var(--background);

    height: 90%;
    width: 50%;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    background-color: var(--background);
}

.login-checkout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70%;
    min-width: 430px;
    height: 60%;

    background-color: var(--form-background);


}

.description-container {

    font-family: 'Poppins';
    font-weight: 400;
    font-size: 90%;

    width: 60%;
    color: var(--text-title);

}



.mail-container, .password-container {
    position: relative;

    width: 70%;

    font-family: 'Roboto';
    color: var(--text-base);
    font-weight: 400;
}

.mail-container input, .password-container input {
    
    width: 260px;
    height: 25px;
    border-radius: 5px;
    border: none;
    padding-left: 30px;


    
}



.mail-svg, .lock-svg {
    position: absolute;
    left: 4px;
    top: 20px;
    width: 20px;
}



.mail-container h1, .password-container h1 {
    font-size: 90%;
    font-weight: 500;
}

#forgot-password {
    font-size: .7rem;

    margin-top: 10px;
}


.enter-btn {
    width: 50%;
    height: 9%;
    color: var(--form-background);
    border: none;
    font-size: .7rem;
    background-color: var(--primary-color);
}

#img-container {
    background-color: bisque;

    height: 100%;
    width: 50%;

    background-image: url(images/side-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}



@media (max-width: 570px) {

    #main-container {
        width: 100%;
    }

    header {
        width: 100%;
    }

    #img-container {
        display: none;
    }

    .login-checkout {
        height: 80%;
    }


}

@media (max-width: 840px) {
    .mail-container, .password-container {
        font-size: 80%;
    }

    .description-container {
        font-size: 70%;
    }

    .mail-svg, .lock-svg {
        position: absolute;
        left: 4px;
        top: 16px;
        width: 15px;
    }

    .mail-container input, .password-container input {
    

        padding-left: 25px;
    
    
        
    }
}
